@model NewsPortal.ViewModels.NewsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>@Resources.Resource.Create</h2>

<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "specific_textareas",
        editor_selector: "editorHtml",
    });
</script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $.validator.setDefaults({ ignore: '' });
</script>


@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>News</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @id = "titleError" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.TextAreaFor(model => model.Description, new { @class = "form-control editorCK", @id = "editorCK", @name = "editorCK" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @id = "desError" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="editor-field col-md-10">
                <input type="file" name="newsImg" accept=".png, .jpg, .jpeg" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublicationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublicationDate, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                @Html.ValidationMessageFor(model => model.PublicationDate, "", new { @class = "text-danger", @id = "dateError" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeZone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeZone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visibility, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Visibility, new { htmlAttributes = new { @class = "form-control checkbox", @checked = true } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Resource.Create" class="btn btn-default" id="submitButton" />
                @Html.ActionLink("Cancel", "Index", @ViewContext.RouteData.Values["controller"].ToString(), new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>

}


<script>
    let editor;
    document.addEventListener("DOMContentLoaded", function (event) {
        editor = CKEDITOR.replace('editorCK');
    });

    let submit = document.querySelector("#submitButton");
    submit.addEventListener('click', function () {
        let error = false;
        let desError = document.querySelector("#desError");
        if (CKEDITOR.instances.editorCK.getData().length < 1) {
            desError.classList.remove("field-validation-valid");
            desError.classList.add("field-validation-error");
            desError.innerHTML = "Description is required";
            error = true;
        }
        else {
            desError.classList.remove("field-validation-error");
            desError.classList.add("field-validation-valid");
            desError.innerHTML = "";
        }
        /*let titleError = document.querySelector("#titleError");
        if (titleError.innerHTML.length < 1) {
            titleError.classList.remove("field-validation-valid");
            titleError.classList.add("field-validation-error");
            titleError.innerHTML = "Title is required";
            error = true;
        }
        else {
            titleError.classList.remove("field-validation-error");
            titleError.classList.add("field-validation-valid");
            titleError.innerHTML = "";
        }
        let dateError = document.querySelector("#dateError");
        if (dateError.innerHTML.length < 1) {
            dateError.classList.remove("field-validation-valid");
            dateError.classList.add("field-validation-error");
            dateError.innerHTML = "Date is required";
            error = true;
        }
        else {
            dateError.classList.remove("field-validation-error");
            dateError.classList.add("field-validation-valid");
            dateError.innerHTML = "";
        }*/
        if (error) {
            event.preventDefault();
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
